@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #3b82f6;
  --color-background-light: #f6f6f8;
  --color-background-dark: #020617;
  --color-surface-dark: #1e293b;
  --font-display: "Space Grotesk", sans-serif;
  --font-body: "Noto Sans", sans-serif;
}

@layer base {
  body {
    @apply bg-background-light dark:bg-background-dark text-[#111318] dark:text-gray-100 font-display transition-colors duration-300;
  }
}
